@model ServicePostVM
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Create Service</h5>
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="IconPath" class="form-label">IconPath</label>
                        <input class="form-control" asp-for="IconPath">
                        <span asp-validation-for="IconPath" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
